{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block page_content %}

    <div class="box">
            
        <!-- /.box-header -->
        <div class="box-body">
        <table  class="table table-bordered table-striped">        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Contact_gardien</th>
                <th>Contact_syndic</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for residence in residences %}
            <tr>
                <td><a href="{{ path('residence_show', { 'id': residence.id }) }}">{{ residence.id }}</a></td>
                <td>{{ residence.name }}</td>
                <td>{{ residence.contactgardien }}</td>
                <td>{{ residence.contactsyndic }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('residence_show', { 'id': residence.id }) }}"><i class="fa fa-pencil fa-lg"></i> Show</a>
                    <a class="btn btn-success" href="{{ path('residence_edit', { 'id': residence.id }) }}"><i class="fa fa-eye fa-lg"></i> Edit</a>
                    <a class="btn btn-danger" href="#"><i class="fa fa-trash-o fa-lg"></i> Delete</a> 
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('residence_new') }}">Create a new residence</a>
        </li>
    </ul>
{% endblock %}
{% block page_title %} Résidences {% endblock %}
{% block page_subtitle %} liste{% endblock %}