{% extends 'base.html.twig' %}

{% block body %}
    <h1>Documentappartement</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ documentAppartement.id }}</td>
            </tr>
            <tr>
                <th>Appartid</th>
                <td>{{ documentAppartement.appartId }}</td>
            </tr>
            <tr>
                <th>Documentid</th>
                <td>{{ documentAppartement.documentId }}</td>
            </tr>
            <tr>
                <th>Documentdate</th>
                <td>{% if documentAppartement.documentDate %}{{ documentAppartement.documentDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Documentcomment</th>
                <td>{{ documentAppartement.documentComment }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('documentappartement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('documentappartement_edit', { 'id': documentAppartement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
