{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block page_content %}

    <div class="box">
            
            <!-- /.box-header -->
            <div class="box-body">
              <table  class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>id</th>
                  <th>Adresse</th>
                  <th>Réferent</th>
                  <th>Code Wifi</th>
                  <th>Phone</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for el in apparts %}
                  <tr>
                  <td> {{el.id}}</td>
                  <td>{{el.adresse}}</td>
                  <td>{{el.contactAppart}}</td>
                  <td>{{el.wifiCode}}</td>
                  <td>{{el.phone}}</td>
                  <td>
                    <a class="btn btn-primary" href="#"><i class="fa fa-pencil fa-lg"></i> Edit</a>
                    <a class="btn btn-success" href="{{ path('admin_show_appart', {'id': el.id}) }}"><i class="fa fa-eye fa-lg"></i> Show</a>
                    <a class="btn btn-danger" href="#"><i class="fa fa-trash-o fa-lg"></i> Delete</a> 
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->


{% endblock %}

{% block page_title %} Appartements {% endblock %}
{% block page_subtitle %} Liste des appartements {% endblock %}