{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block page_content %}

    <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-md-3">
                    <a class="btn btn-success" href="{{ path('add_charge_room', { 'id': room.id }) }}"><i class="fa fa-money fa-lg"></i> Ajouter Charge</a>
                            
                </div>
                <div class="col-md-3">
                    <a class="btn btn-success" href="{{ path('add_rent_user_room', { 'id': user_room.id,'idUser': user_room.userId,'idRoom': user_room.roomId }) }}"><i class="fa fa-money fa-lg"></i> Editer quittance</a>
                            
                </div>
                 <div class="col-md-3">
                            <a class="btn btn-success" href="{{ path('add_doc_user_room', { 'id': user_room.id }) }}"><i class="fa fa-file fa-lg"></i> Ajouter Document</a>
                            
                    </div>
                <br><br>
                <div >
                    <div class="page-header"><h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                            Informations générales
                        </h4></div>
                        <div class="col-md-7">
                            <ul class="list-unstyled">
                                <li><strong>ID User:</strong> {{user.id}}</li>
                                <li><strong>Profil :</strong> </li>
                                <li><strong>Username :</strong> {{user.username}}</li>
                                <li><strong>Prénom :</strong> </li>
                                <li><strong>Nom :</strong> </li>               
                                <li><strong>Email :</strong> {{user.email}}</li>
                                <li><strong>Téléphone :</strong> </li>
                                <li><strong>Contact Garant :</strong> </li>
                            </ul>
                        </div>
                        <div class="col-md-5 ">
                            <div class="pull-left image">
                                <img src="/bundles/avanzuadmintheme/img/avatar.png" class="img-circle" alt="Demo User" width=150/>
                                <br><br>
                            </div>           
                        </div>
                        <div class="page-header">-*-</div>
                        <div class="page-header"><h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                            Informations sur la colocation
                        </h4>
                        </div>
                        <div class="col-md-7">
                            <ul class="list-unstyled">
                                <li><strong>Adresse Appartement :</strong> <a href="{{ path('appartement_show', { 'id': appart.id }) }}">{{ appart.adresse }}</a></li>
                                <li><strong>Surface Appartement :</strong> {{appart.surface}}</li>
                                <li><strong>Responsable Coloc :</strong> {{appart.contactAppart}}</li>
                                <li><strong>Contact Gardien :</strong> {{residence.contactGardien}}</li>
                                <li><strong>Horaire Gardien :</strong> {{residence.horaireGardien}} </li>
                                <li><strong>Contact Syndic :</strong> {{residence.contactSyndic}} </li>
                            </ul>
                        </div>
                        <div class="col-md-5 ">
                            <ul class="list-unstyled">
                                <li><strong>N° Chambre :</strong> <a href="{{ path('room_show', { 'id': room.id }) }}">{{ room.id }}</a></li>
                                <li><strong>Surface Chambre :</strong> {{room.surface}} </li>
                                <li><strong>Date d'entrée :</strong> {{user_room.userRoomDateIn|date('d-m-Y')}}</li>
                                <li><strong>Date de sortie :</strong> {{user_room.userRoomDateOut|date('d-m-Y')}}</li>
                                <li><strong>Prix Loyer :</strong> {{room.rent}} euros </li>
                                <li><strong>Caution :</strong> {{room.guarantee}} euros</li>               
                            </ul>
                             <br><br>
                        </div>
                </div>
                 <div class="page-header">-*-</div>
                <div >
                    <div class="page-header"><h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                            États des paiements du loyer de l'appartement de l'année {{year}}
                        </h4>
                    </div>
                    <div >
                          <table  class="table table-bordered table-striped">
                            <thead>
                              <tr>
                                <th>Locataire</th>
                                <th>Jan</th>
                                <th>Fév</th>
                                <th>Mars</th>
                                <th>Avril</th>
                                <th>Mai</th>
                                <th>Juin</th>
                                <th>Juil</th>
                                <th>Août</th>
                                <th>Sept</th>
                                <th>Oct</th>
                                <th>Nov</th>
                                <th>Dec</th>
                              </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td> 
                                 <a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.username }}</a>   
                                </td>
                                {% for key,val in rents  %}
                                  <td>Ok <br>
                                     <a class="btn btn-danger" href="{{ path('delete_rent_user_room', { 'id': val.id, 'idUser':user.id }) }}"><i class="fa fa-trash fa-lg"></i></a>
                                  </td>
                                {% endfor %}
                              </tr>                
                          </tbody>
                        </table>
                    </div>
                </div>
                <div class="page-header">-*-</div>
                <div >
                    <div class="page-header"><h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                             Liste des charges
                        </h4>
                    </div>
                    <div >
                          <table  class="table table-bordered table-striped">
                            <thead>
                              <tr>
                                <th>Type charge</th>
                                <th>Date charge</th>
                                <th>Montant</th>
                                <th>État</th>
                                <th>Commentaires</th>
                                 <th>Actions</th>
                              </tr>
                          </thead>
                          <tbody>
                          {%for typeCharge,charge in charges%}                   
                            <tr>
                                <td>{{typeCharge}}</td>
                                <td>{{charge.ChargeDate|date("m/d/Y")}}</td>
                                <td>{{charge.ChargeAmount}} euros</td>
                                <td>
                                  {% if charge.ChargeState == false %}
                                  Not paid
                                  {% endif %}
                                  {% if charge.ChargeState == true %}
                                  Paid
                                  {% endif %}
                                </td>
                                <td>{{charge.ChargeComment}}</td>
                                <td>
                                  {% if charge.ChargeState == false %}
                                  <a class="btn btn-success" href="{{ path('charge_room_paid', { 'id': charge.id, 'idRoom':user.id }) }}"><i class="fa fa-check fa-lg"></i> Paid</a>
                                  {% endif %}
                                  {% if charge.ChargeState == true %}
                                  <a class="btn btn-success" href="{{ path('charge_room_unpaid', { 'id': charge.id, 'idRoom':user.id }) }}"><i class="fa fa-times fa-lg"></i> Unpaid</a>
                                  {% endif %}
                                  <a class="btn btn-danger" href="#"><i class="fa fa-trash-o fa-lg"></i> Delete</a> 
                             </td>
                            </tr>
                          {%endfor%}                   
                          </tbody>
                        </table>
                    </div>
                </div>
                 <div class="page-header">-*-</div>
                <div >
                    <div class="page-header"><h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                            Les documents
                        </h4>
                    </div>
                    <div >
                          <table  class="table table-bordered table-striped">
                            <thead>
                              <tr>
                                <th>Type document</th>
                                <th>Date </th>
                                <th>Commentaires</th>
                                 <th>Actions</th>
                              </tr>
                          </thead>
                          <tbody>
                          {%for typeDoc,doc in documents%}                   
                            <tr>
                                <td>{{typeDoc}}</td>
                                <td>{{doc.DocumentDate|date("m/d/Y")}}</td>
                                <td>{{doc.DocumentComment}}</td>
                                <td>
                                  <a class="btn btn-success" href="{{ path('document_show', { 'id': doc.documentId }) }}"><i class="fa fa-eye fa-lg"></i> View</a>
                                  <a class="btn btn-danger" href="#"><i class="fa fa-trash-o fa-lg"></i> Delete</a> 
                             </td>
                            </tr>
                          {%endfor%}                   
                          </tbody>
                        </table>
                    </div>
                    <div class="page-header"><h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                            Les quittances de loyer
                        </h4>
                    </div>
                    <div >
                          <table  class="table table-bordered table-striped">
                            <thead>
                              <tr>
                                <th>Date Quittance</th>
                                 <th>Actions</th>
                              </tr>
                          </thead>
                          <tbody>
                          {%for quittance in quittances%}                   
                            <tr>
                                <td>{{quittance.rentDate|date('d-m-Y')}}</td>
                                <td>
                                  <a class="btn btn-success" href="{{ path('quittance', { 'id': quittance.id }) }}"><i class="fa fa-eye fa-lg"></i> View</a> 
                             </td>
                            </tr>
                          {%endfor%}                   
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
            
{% endblock %}

{% block page_title %} Users {% endblock %}
{% block page_subtitle %} show {% endblock %}
