{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block page_content %}

    <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <div >
                  <div class="col-md-3">
                            <a class="btn btn-success" href="{{ path('add_furniture_room', { 'id': room.id }) }}"><i class="fa fa-tv fa-lg"></i> Ajouter Meuble</a>
                            <br><br>
                    </div>
                    <div class="col-md-3">
                            <a class="btn btn-success" href="{{ path('add_fix_room', { 'id': room.id }) }}"><i class="fa fa-wrench fa-lg"></i> Signaler Réparation</a>
                            <br><br>
                    </div>
                    
                   
                    <br><br>
                    <div class="page-header"><h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                            Informations générales
                        </h4>
                    </div>
                    <div class="col-md-7">
                            <ul class="list-unstyled">
                                <li><strong>ID Chambre :</strong> {{room.id}}</li>
                                <li><strong>Surface :</strong> {{room.surface}} </li>
                                <li><strong>Occupant :</strong>
                                  {% if user.username is defined %}
                                     <a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.username }}</a>
                                     {% endif%}
                                  </li>
                                
                            </ul>
                    </div>
                    <div class="col-md-5">
                            <ul class="list-unstyled">
                                <li><strong>Rent :</strong> {{room.rent}} euros</li>
                                <li><strong>Guarantee :</strong> {{room.guarantee}} euros</li>
                                <li><strong>Appartement  :</strong> <a href="{{ path('appartement_show', { 'id': appart.id }) }}">{{ appart.adresse }}</a> </li>
                            </ul>
                            <br><br>
                    </div>
                </div>
                </div>
                
                  <div class="page-header">-*-</div>
                <div >
                    <div class="page-header"><h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                            États des réparations
                        </h4>
                    </div>
                    <div >
                          <table  class="table table-bordered table-striped">
                            <thead>
                              <tr>
                                <th>Type réparations</th>
                                <th>Date signalée</th>
                                <th>Priorité</th>
                                <th>État</th>
                                <th>Commentaires</th>
                                 <th>Actions</th>
                              </tr>
                          </thead>
                          <tbody>
                          {%for typeFix,fix in fixs%}                   
                            <tr>
                                <td>{{typeFix}}</td>
                                <td>{{fix.FixDate|date("m/d/Y")}}</td>
                                <td>
                                  {% if fix.FixPriority == false %}
                                  0
                                  {% endif %}
                                  {% if fix.FixPriority == true %}
                                  1
                                  {% endif %}
                                </td>
                                <td>
                                  {% if fix.FixState == false %}
                                  Not done
                                  {% endif %}
                                  {% if fix.FixState == true %}
                                  Done
                                  {% endif %}
                                </td>
                                <td>{{fix.FixComment}}</td>
                                <td>
                                  {% if fix.FixState == false %}
                                  <a class="btn btn-success" href="{{ path('fix_room_done', { 'id': fix.id, 'idRoom':room.id }) }}"><i class="fa fa-check fa-lg"></i> Done</a>
                                  {% endif %}
                                  {% if fix.FixState == true %}
                                  <a class="btn btn-success" href="{{ path('fix_room_undone', { 'id': fix.id, 'idRoom':room.id }) }}"><i class="fa fa-times fa-lg"></i> Undone</a>
                                  {% endif %}
                                  <a class="btn btn-danger" href="#"><i class="fa fa-trash-o fa-lg"></i> Delete</a> 
                             </td>
                            </tr>
                          {%endfor%}                   
                          </tbody>
                        </table>
                    </div>
                </div>
                <div class="page-header">-*-</div>
                <div >
                    <div class="page-header"><h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                            Liste des meubles
                        </h4>
                    </div>
                    <div >
                          <table  class="table table-bordered table-striped">
                            <thead>
                              <tr>
                                <th>Id Meuble</th>
                                <th>Nom</th>
                              </tr>
                          </thead>
                          <tbody>
                          {% for meuble in meubles%}                   
                            <tr>
                                <td>{{meuble.id}}</td>
                                <td>{{meuble.name}}</td>
                            </tr> 
                            {% endfor %}                    
                          </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
            
{% endblock %}
{% block page_title %} Room {% endblock %}
{% block page_subtitle %} show {% endblock %}
