{% extends 'base.html.twig' %}

{% block body %}
    <h1>Meubleroom</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ meubleRoom.id }}</td>
            </tr>
            <tr>
                <th>Roomid</th>
                <td>{{ meubleRoom.roomId }}</td>
            </tr>
            <tr>
                <th>Meubleid</th>
                <td>{{ meubleRoom.meubleId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('meubleroom_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('meubleroom_edit', { 'id': meubleRoom.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
