{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block page_content %}

    <div class="box">
            
        <!-- /.box-header -->
        <div class="box-body">
        <table  class="table table-bordered table-striped">        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeDocument in typeDocuments %}
            <tr>
                <td><a href="{{ path('typedocument_show', { 'id': typeDocument.id }) }}">{{ typeDocument.id }}</a></td>
                <td>{{ typeDocument.name }}</td>
                <td>
                <a class="btn btn-primary" href="{{ path('typedocument_show', { 'id': typeDocument.id }) }}"><i class="fa fa-pencil fa-lg"></i> Show</a>
                    <a class="btn btn-success" href="{{ path('typedocument_edit', { 'id': typeDocument.id }) }}"><i class="fa fa-eye fa-lg"></i> Edit</a>
                    <a class="btn btn-danger" href="#"><i class="fa fa-trash-o fa-lg"></i> Delete</a> 

                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
           <a href="{{ path('typedocument_new') }}">Create a new typeDocument</a>
        </li>
    </ul>
{% endblock %}

{% block page_title %} Type Document {% endblock %}
{% block page_subtitle %} liste {% endblock %}
